#sao-options {
	position: fixed;
	top: -100%;
	right: 15px;
	height: 100%;
	width: 100px;
	transition: all 0.5s ease;
}

#sao-options.active {
	top: 0;
}

#sao-options li {
	list-style: none;
	border-radius: 50%;
	border: 4px solid #F3EFEB;
	margin: 15px auto;
	width: 80px;
	height: 80px;
	cursor: pointer;
}

#sao-options li .option {
	border-radius: 50%;
	background: #F3EFEB;
	margin: 4px auto;
	width: 72px;
	height: 72px;
}