#sao-popup {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 130px;
	background: #D4D2D0;
	text-align: center;
	overflow: hidden;
	transition: all 0.5s ease;
}

#sao-popup header, #sao-popup footer {
	background: #F3EFEB;
}

#sao-popup header { padding: 15px; }

#sao-popup section {
	padding: 30px 15px;
	border-left: 4px solid #F3EFEB;
	border-right: 4px solid #F3EFEB;
	box-shadow: inset 0 8px 15px -5px #999, inset 0 -8px 15px -5px #999;
}

#sao-popup p { padding: 15px 0; }

#sao-popup #sao-o, #sao-popup #sao-x {
	display: inline-block;
	border-radius: 50%;
	margin: 15px auto;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

#sao-popup #sao-o > div, #sao-popup #sao-o > div > div, #sao-popup #sao-x > div {
	border-radius: 50%;
	margin: 4px auto;
	width: 42px;
	height: 42px;
}

#sao-popup #sao-o {
	border: 4px solid #6FA7D3;
	margin-right: 100px;
}

#sao-popup #sao-o > div { background: #6FA7D3; }

#sao-popup #sao-o > div > div {
	position: absolute;
	border: 4px solid #fff;
	width: 15px;
	height: 15px;
	margin-top: 10px;
	margin-left: 10px;
}

#sao-popup #sao-x { border: 4px solid  #F16976; }

#sao-popup #sao-x > div { background: #F16976; }

#sao-popup #sao-x > div > div {
	position: absolute;
	width: 5px;
	height: 25px;
	background: #fff;
	margin-left: 18px;
	margin-top: 9px;
}

#sao-popup #sao-x > div > div:first-child { transform: rotate(45deg); }
#sao-popup #sao-x > div > div:nth-child(2) { transform: rotate(135deg); }